@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /*========== COLORS ==========*/
    --first-color: #4E9D66;
    --second-color: #D59F68;
    --third-color: #467782;
    --fourth-color: #FFABAB;
    --fifth-color: #ffbb00;
    --title-color: #434241;
    --text-color: #7c706a;
    --text-color-light: #888584;
    --body-color: #fefcfb;
    --white-color: white;
    --black-color: black;

    /*========== FONT & TYPORGRAPHY ==========*/
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Playfair Display', serif;

    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;

    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-family: var(--body-font);
}

::-moz-selection {
    background: #5e5e5e;
    color: white;
}

::selection {
    background: #5e5e5e;
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    margin: var(--mb-1-5) 0 0;
}

ul {
    padding: 0;
}

li {
    margin-left: 2rem;
    list-style: circle;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== CLASS CSS ==========*/
section {
    padding: 2rem 0 4rem;
}

.section__title {
    position: relative;
    font-size: var(--h1-font-size);
    color: var(--article-title);
    font-weight: var(--font-600);
    text-transform: capitalize;
    margin-bottom: var(--mb-1-5);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.section__title::before {
    content: '';
    position: absolute;
    width: -webkit-fill-available;
    height: 10px;
    background: var(--fifth-color);
    z-index: -1;
    top: 20px;
    opacity: .5;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

article {
    position: relative;
}

.article__title {
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
}

.article__subtitle {
    font-weight: var(--font-500);
    font-size: var(--h3-font-size);
    color: var(--text-color-light);
}

.article__url a {
    color: var(--title-color);
}

.article__description {
    margin-top: var(--mb-1);
}

.list__label {
    font-weight: var(--font-500);
}

/*========== LAYOUT ==========*/
.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-1);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--first-color-lighter-dark);
    gap: var(--mb-1);
}

.container {
    /* max-width: 968px; */
    max-width: 1024px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.main {
    padding: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*========== HOME SECTION ==========*/
.home__img {
    display: block;
    margin: auto;
    border-radius: .5rem;
}

.home__title {
    font-size: var(--big-font-size);
    font-weight: var(--font-700);
    line-height: 1.2;
    margin-top: var(--mb-1);
}

.home__subtitle {
    font-weight: 600;
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-5);
}

.info__container {
    justify-content: center;
    margin-top: var(--mb-0-5);
    gap: var(--mb-0-5);
}

.home__info {
    display: flex;
    align-items: center;
    column-gap: var(--mb-0-75);
}

.home__info a,
.home__info i,
.home__info .item__value {
    color: var(--text-color-light);
}

.home__description {
    margin-top: var(--mb-1);
}

.home__title,
.home__subtitle,
.home__description {
    text-align: center;
}

/*========== PROFILES ==========*/
.profiles .article-container {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--text-color);
}

/*========== ICONS ==========*/

.icon {
    font-style: normal;
    margin-right: 0;
    width: 0.6em;
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* ========== SCROLL-BAR ========== */
::-webkit-scrollbar {
	width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
	background: var(--title-color);
	background-repeat: no-repeat;
	border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
	background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
	background: var(--text-color-light);
}
@media screen and (max-width: 350px) {
    .main {
        padding: 0;
    }
}

@media print, screen and (min-width: 786px) {
    body {
        margin: 0;
    }

    .main {
        margin: auto;
    }

    .basics,
    .main-wrapper {
        display: -ms-grid;
        display: grid;
        /* grid-template-columns: 1fr 2.5fr; */
        grid-template-columns: 1fr .6fr;
        column-gap: var(--mb-1);
    }

    .home__img {
        width: 320px;
        margin: initial;
        display: initial;
    }
    
    .home__img{
        order: 1;
    }

    .section__title,
    .home__title,
    .home__subtitle,
    .home__description {
        text-align: initial;
    }

    .info__container {
        justify-content: initial;
    }

    .profiles .article-container {
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        justify-items: flex-start;
    }
}

@media screen and (min-width: 968px) {
    .section__title::before {
        top: 35px;
    }
}